<!DOCTYPE html>
<html
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>

<title th:inline="text">[[ ${ host } ]] Files</title>

<script th:replace="~{ csap/fragments/csap-common-includes :: pageContent }"></script>

<!-- https://github.com/mar10/fancytree/releases -->
<link
	th:href="@{/webjars/fancytree/2.30.0/dist/skin-win7/ui.fancytree.min.css}"
	rel="stylesheet"
	type="text/css" />
<script th:src="@{/webjars/fancytree/2.30.0/dist/jquery.fancytree-all-deps.js}"></script>


<script th:src="@{ ${csapApp.versionedUrl('/js/csapLibs/dropzone/dropzone.js')} }"></script>
<link
	th:href="@{ ${csapApp.versionedUrl('/js/csapLibs/dropzone/dropzone.css')} }"
	rel="stylesheet"
	type="text/css"
	media="screen" />

<script th:src="@{ ${csapApp.versionedUrl('/js/csapLibs/csap-misc.js')} }"></script>
<script th:src="@{ ${csapApp.versionedUrl('/js/csapLibs/csapUtils/CsapUser.js')} }"></script>



<link
	th:href="@{ ${csapApp.versionedUrl('/js/csapLibs/qtip/jquery.qtip.min.css')} }"
	rel="stylesheet"
	type="text/css"
	media="screen" />
<script th:src="@{ ${csapApp.versionedUrl('/js/csapLibs/qtip/jquery.qtip.min.js')} }"></script>

<script th:replace="csap-constants-include :: includeSection"></script>




<script th:inline="javascript">


     Dropzone.autoDiscover = false ;
     
     const FM_SETTINGS = {
     	container: [[ ${ containerName } ]],
     	docker: [[ ${ dockerBase } ]],
     	user: [[ ${ user } ]],
     	folder: [[ ${ fromFolder }  ]] 
     }

 </script>


<link
	th:href="@{ ${csapApp.versionedUrl('/js/file/file-browser.css')} }"
	rel="stylesheet"
	type="text/css"
	media="screen" />


<script
	th:attr="data-main=@{ ${csapApp.requiresUrl('/js/file/modules/host-file-manager.js')}   }"
	th:src="@{/webjars/requirejs/2.1.20/require.min.js}"></script>

</head>



<body class="stand-alone csap-scrollable theme-dark agent">

	<article id="loading-project-message">
		<div class=loading-message-large>Loading Application</div>
	</article>


	<div class="csap-scrollable csap-file-browser">

		<header class=related>
			<span>
				<span class=fb-title></span>
				<button
					title="toggle display of editor"
					class="csap-button-icon toggle-editor">&nbsp;</button>
			</span>


			<span class="resourceConfig browser-mode">

				<label>Sort: </label>

				<label
					class="radio"
					title="Sort using file name">
					<input
						class="file-sort-type"
						type="radio"
						name="sortRadio"
						value="sort-by-name"
						checked="checked" />
					Name
				</label>

				<label
					class="radio"
					title="Sort using file size">
					<input
						class="file-sort-type"
						type="radio"
						name="sortRadio"
						value="sort-by-size" />
					Size
				</label>

				<label
					style="margin-left: 2em"
					title="issue linux du command to calculate disk usage for folders. Very large folders may time out - use CSAP shell to run command.">
					Folder Size:
					<input
						class="showDu"
						type="checkbox" />
				</label>



				<!-- 	
				<label title="Show file size and date. Open and close folder to update">
					Details:
					<input
						class="showMeta"
						type="checkbox"
						checked="checked" />
				</label>
			<label
					class="radio"
					title="folders are lazy loaded and results saved. Uncheck to hit server every time.">
					Cache:
					<input
						class="cacheResults"
						type="checkbox" />
				</label> -->
			</span>

			<span class="browser-mode flex-right">
				<label title="Use host ls command to view extended output. If permitted, root privilege to browse file system">
					OS list:
					<input
						class="useRoot"
						type="checkbox" />
				</label>


			</span>

			<div class="csap-white usage-note browser-mode">

				<button class="csap-icon csap-remove"></button>
				<span>Usage:</span>
				<ul>
					<li>After selecting a file or folder, select the menu icon to view commands</li>
					<li>Double clicking on a file will open it in the editor</li>
					<li>items not accessable using csap user permissions will be updated using <a
							class="csap-link"
							target="_blank"
							href="https://www.computerhope.com/unix/usetfacl.htm">linux setfacl</a> . restore_filesystem_acls can be run
						using the csap script runner to remove if desired
					</li>
				</ul>

			</div>


			<span class=file-operations>

				<button
					class="csap-button-icon csap-download save-file-button file-mode"
					title="(ctrl-s) save changes to file - enabled after changes are made">Save</button>

				<button
					class="csap-button autoplay-file-button file-mode"
					title="autoplay preview">&nbsp;</button>

				<select
					id=files-in-editor
					title="ctrl-r to reload, ctrl-e to open next file"
					class=file-mode>
				</select>

				<label class="file-mode">
					User:
					<select
						class="edit-as-user"
						title="File will be chowned to the selected user">
						<option
							th:each="osUser : ${osUsers}"
							th:selected="${ osUser == user }"
							th:value="${ osUser }"
							th:text="${ osUser }">will be replaced</option>

					</select>
				</label>

				<label
					class="file-mode"
					title="Preserve permissions: content will be echo'ed into existing file">
					Perm:
					<input
						class="preserve-permissions"
						type="checkbox" />
				</label>
			</span>

			<span class="file-mode">
				<span th:replace="/file/ace-settings :: pageContent"></span>
			</span>

			<span class="flex-right file-mode">
				<span id=file-size></span>
				<button
					class="csap-button-icon launch-window edit-in-new-window "
					title="Edit in a new window">&nbsp;</button>
			</span>


			<input
				class="copy-buffer browser-mode"
				title="last opened item (click to copy to clipboard" />

			<span class="copy-buffer-message">Copied path to clip board</span>


		</header>


		<section>
			<article class="content">
				
				
				<button
					title="Add filesystem links to explore more of filesystem"
					class="browser-mode csap-button-small-icon csap-list show-csap-shortcuts">add default shortcuts</button>
					
				<div
					class="file-browser"
					title="After selecting a file or folder, right mouse click on text to view command menu"></div>

				<pre class="file-viewer-text">loading</pre>

			</article>
		</section>

		<div class="csap-button-menu file-menu">

			<button
				class="close-menu csap-icon csap-remove"
				data-command="close"></button>

			<span class=auto-play>
				<a
					class="csap-link"
					target="_blank"
					th:href="${@applicationConfiguration.getHelpUrl('autoplay-help') }">CSAP Autoplay</a>
			</span>
			<button
				class="csap-button preview auto-play auto-preview"
				title="creates a preview folder containing results of autoplay"
				data-command="auto-play-preview">Preview</button>
			<button
				class="csap-button preview auto-play"
				title="creates a preview folder containing results of autoplay"
				data-command="auto-play-apply">Apply</button>

			<span>File Options</span>
			<button
				class="csap-button edit"
				data-command="edit">Edit</button>
			<button
				class="csap-button download"
				data-command="download">Download</button>
			<button
				class="csap-button monitor"
				data-command="monitor">Monitor (tail -f)</button>
			<button
				class="csap-button browser"
				data-command="browser">Open In Browser</button>
			<span>Commands</span>
			<button
				class="csap-button copy"
				data-command="copy">Copy/Move/Rename ...</button>
			<button
				class="csap-button delete"
				data-command="delete">Delete ...</button>
			<button
				class="csap-button run"
				data-command="run">Run ...</button>
			<button
				class="csap-button search"
				data-command="search">Search</button>

			<button
				class="csap-button upload"
				data-command="sync">Sync to hosts</button>

		</div>




		<div class="csap-button-menu folder-menu">

			<button
				class="close-menu csap-icon csap-remove"
				data-command="close"></button>


			<span>Folder Options</span>
			<button
				class="csap-button collapse"
				title="selected folder will be moved to top level"
				data-command="collapse">Collapse to folder</button>
			<button
				class="csap-button browser"
				data-command="new-browser">Open new file browser</button>


			<span>Commands</span>
			<button
				class="csap-button new"
				data-command="new-item">New File/Folder ...</button>
			<button
				class="csap-button copy"
				data-command="copy">Copy/Move/Rename ...</button>
			<button
				class="csap-button delete"
				data-command="delete">Delete ...</button>
			<button
				class="csap-button run"
				data-command="run">Run ...</button>
			<button
				class="csap-button search"
				data-command="search">Search</button>
			<button
				class="csap-button upload"
				data-command="upload">Upload</button>

			<button
				class="csap-button upload"
				data-command="sync">Sync to hosts</button>

		</div>



		<aside>

			<div class=disk-paths>
				<input
					th:each="pathEntry : ${ diskPathsForTips }"
					th:class="${ pathEntry.key}"
					th:value="${ pathEntry.value}" />
			</div>

			<div id=auto-play-confirmation>
				<div class=auto-play-header>
					Applying autoplay can leave system in a unmanaged state. Verify configuration prior to applying.

					<div class=quote>Autoplay configuration will be processed on the primary host, then editor apply will be done
						to sync across all application hosts</div>

				</div>
			</div>

			<div id=auto-play-pass>
				<div class=auto-play-header>No errors or warnings found - review output to ensure desired application was
					created.</div>
			</div>

			<div id=auto-play-fail>
				<div class=auto-play-header>Errors and/or warnings were found after applying autoplay file.</div>
			</div>

			<div class="jsTemplates">

				<div class="filterControls"
					title="one or more comma separated patterns to filter files">
					<input
						class="listing-filter"
						placeholder="comma separated filter(s)" />
				</div>

				<button
					class="csap-icon tool-menu csap-menu"
					title="show operation menu: operations will be performed on selected items"></button>

				<button
					title="simple delete using default user"
					class="csap-icon delete-items"></button>



				<div class="file-system-dialog fb-dialog">

					<div>
						<label>
							<span class="right"> Working Folder: </span>
							<span class="file-system-working-folder"></span>

						</label>
					</div>


					<div>
						<label>
							<span class="right"> Use root: </span>
							<input
								class="show-root-warning file-system-use-root"
								type="checkbox" />
						</label>
					</div>

					<div class="file-system-operations">
						<div class="file-system-rename-items">
							<div>
								<label>

									<span class="right"> Target: </span>
									<input
										class="file-system-new-name"
										placeholder="/path/to/folder-or-file" />

									<label>
										Rename:
										<input
											class="file-system-use-rename"
											type="checkbox" />
									</label>

								</label>


								<div class="quote">Unless checked - item will be copied</div>

							</div>
						</div>

						<div class="file-system-delete-items">
							<div>
								<label>

									<span class="right"> Recursive: </span>
									<input
										class="file-system-delete-recursive"
										type="checkbox" />

								</label>
								<div class="quote">
									<button
										class="csap-button"
										title="Advanced Window">Advanced</button>
									enables item(s) to be deleted on one or more hosts in a single request
								</div>
							</div>
						</div>

						<div class="file-system-new-items">
							<div>
								<label>

									<span class="right"> Folder(s): </span>
									<input
										class="file-system-new-folder"
										placeholder="path/from/parent/folder" />

								</label>
							</div>

							<div>
								<label>

									<span class="right"> File: </span>
									<input
										class="file-system-new-file"
										placeholder="file-name.yml" />

								</label>
							</div>
						</div>

					</div>
				</div>




			</div>



			<div class=dnd-upload>
				<div class="title">
					<label>
						Upload to:
						<span class="uploadToSpan"></span>
					</label>
					<label>
						<input
							class="custom overWriteFile"
							type="checkbox"
							title="Enable to overwrite existing file" />
						Overwrite
					</label>

					<button
						class="csap-button upload-advanced"
						title="upload to one or more hosts, option to unzip">advanced</button>
					<button
						class="csap-icon csap-remove hideUpload"
						title="Close upload dialog"></button>
				</div>
				<div class="dropzone"></div>
			</div>

			<div class="preview-template">
				<div class="dz-preview dz-file-preview">
					<div class="dz-details">
						<div class="dz-filename">
							<span data-dz-name></span>
						</div>
						<div
							class="dz-size"
							data-dz-size></div>
						<img data-dz-thumbnail />
					</div>
					<div class="dz-progress">
						<span
							class="dz-upload"
							data-dz-uploadprogress></span>
					</div>
					<div class="dz-success-mark">
						<span>
							<img
								class="but"
								th:src="@{/images/16x16/internet-web-browser.png}">
						</span>
					</div>
					<div class="dz-error-mark">
						<span>
							<img
								class="but"
								th:src="@{/images/16x16/internet-web-browser.png}">
						</span>
					</div>
					<div class="dz-error-message">
						<span data-dz-errormessage></span>
					</div>
				</div>
			</div>


		</aside>

	</div>




</body>
</html>