<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">


<head th:fragment="pageContent"
	  th:remove="tag">

	<!--  
		table sorter
	 -->
	<link class="theme default"
		  rel="stylesheet"
		  th:href="@{/webjars/tablesorter/2.31.3/css/theme.default.css}">
	<link th:href="@{ ${@mvcResourceUrlProvider.getForLookupPath('/css/tablesorter/theme.csap.css')} }"
		  rel="stylesheet"
		  type="text/css"
		  media="screen" />
	<link th:href="@{ ${@mvcResourceUrlProvider.getForLookupPath('/css/tablesorter/theme.csapSummary.css')} }"
		  rel="stylesheet"
		  type="text/css"
		  media="screen" />
	<link th:href="@{/webjars/tablesorter/2.31.3/css/theme.blue.css}"
		  rel="stylesheet"
		  type="text/css"
		  media="screen" />
	<link th:href="@{/webjars/tablesorter/2.31.3/css/theme.metro-dark.css}"
		  rel="stylesheet"
		  type="text/css"
		  media="screen" />

	<!-- -->
	<link th:href="@{/webjars/jquery-ui/1.13.0/jquery-ui.min.css}"
		  rel="stylesheet"
		  type="text/css"
		  media="screen" />


	<link class="theme default"
		  rel="stylesheet"
		  th:href="@{/webjars/tablesorter/2.31.3/css/theme.default.css}">
	<link th:href="@{ ${@mvcResourceUrlProvider.getForLookupPath('/css/tablesorter/theme.csap.css')} }"
		  rel="stylesheet"
		  type="text/css"
		  media="screen" />
	<link th:href="@{ ${@mvcResourceUrlProvider.getForLookupPath('/css/tablesorter/theme.csapSummary.css')} }"
		  rel="stylesheet"
		  type="text/css"
		  media="screen" />
	<link th:href="@{/webjars/tablesorter/2.31.3/css/theme.blue.css}"
		  rel="stylesheet"
		  type="text/css"
		  media="screen" />
	<link th:href="@{/webjars/tablesorter/2.31.3/css/theme.metro-dark.css}"
		  rel="stylesheet"
		  type="text/css"
		  media="screen" />



	<!--  alertify   -->
	<link th:href="@{/webjars/alertifyjs/1.13.1/css/alertify.min.css}"
		  rel="stylesheet"
		  type="text/css"
		  media="screen" />
	<link th:href="@{/webjars/alertifyjs/1.13.1/css/themes/semantic.min.css}"
		  rel="stylesheet"
		  type="text/css"
		  media="screen" />

	<link th:href="@{ ${@mvcResourceUrlProvider.getForLookupPath('/css/csap-alertify-theme.css')} }"
		  rel="stylesheet"
		  type="text/css"
		  media="screen" />


	<!--  last: use csap styles to overwrite any of the above if needed -->
	<link th:href="@{ ${@mvcResourceUrlProvider.getForLookupPath('/css/csap.css')} }"
		  rel="stylesheet"
		  type="text/css"
		  media="screen" />



</head>

</html>