<hr />

<table id="SpringMvc"
	   class="csap">
	<thead>

		<tr>
			<th>
				<h3>Model View Controller</h3>
			</th>
			<th>returns</th>
			<th>Description</th>
		</tr>
	</thead>

	<tbody>


		<tr>
			<td><a class="simple"
				   href="testException">testException</a></td>
			<td>text</td>
			<td>Spring @RestController Exception Advice</td>
		</tr>

		<tr>
			<td><a class="simple"
				   href="testNullPointer">testNullPointer</a></td>
			<td>text</td>
			<td>Spring @Controller Null Pointer Exception Advice</td>
		</tr>

		<tr>
			<td><a class="simple"
				   href="missingTemplate">missingTemplate</a></td>
			<td>text</td>
			<td>Missing thymeleaf template</td>
		</tr>

		<tr>
			<td><a class="simple"
				   href="malformedTemplate">malformedTemplate</a></td>
			<td>text</td>
			<td>malformedTemplate thymeleaf template. ALL elements must be terminated</td>
		</tr>

		<tr>
			<td><a class="simple"
				   href="addSessionVar">addSessionVar</a></td>
			<td>text</td>
			<td>Spring MVC with session variable; note embedded tomcat can
				optional persist over restarts, or distribute for stateless
				containers via redis</td>
		</tr>

		<tr>
			<td><a class="simple"
				   href="testAclFailure">testAclFailure</a></td>
			<td>html</td>
			<td>Spring Security - verify ACL deny message</td>
		</tr>


	</tbody>

</table>



<table id="csapServiceLocator"
	   class="csap">
	<thead>

		<tr>
			<th>
				<h3>Service Locator</h3>
			</th>
			<th>returns</th>
			<th>Description</th>
		</tr>
	</thead>

	<tbody>

		<tr>
			<td><a class="simple"
				   href="hello">hello</a></td>
			<td>text</td>
			<td>Invoke instance in current JVM</td>
		</tr>

		<tr>
			<td><a class="simple"
				   th:href="@{helloWithRestAcl(userid=someDeveloper,pass=replaceWithYours)}">helloWithRestAcl</a></td>
			<td>text</td>
			<td>Invoke instance in current JVM protected with userid and password</td>
		</tr>


		<tr>
			<td><a class="simple"
				   href="helloRemoteRandom">hello:
					remote random</a></td>
			<td>text</td>
			<td>Invoke instance in remote JVM, *Best Distribution</td>
		</tr>


		<tr>
			<td><a class="simple"
				   href="helloRoundRobin">hello: remote
					round robin</a></td>
			<td>text</td>
			<td>Invoke instance in remote JVM, iterates available instances</td>
		</tr>


		<tr>
			<td><a class="simple"
				   href="hello/lowCpu">hello: remote low
					Cpu</a></td>
			<td>text</td>
			<td>Invoke instance in remote JVM, lowest cpu usage of
				available instances</td>
		</tr>


		<tr>
			<td><a class="simple"
				   href="hello/lowLoad">hello: remote
					low load</a></td>
			<td>text</td>
			<td>Invoke instance in remote JVM, lowest cpu load of available
				instances</td>
		</tr>


	</tbody>

</table>