<!DOCTYPE html>
<html
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">


<head>

<title th:inline="text">Batch Deployer</title>

<script th:replace="~{ csap/fragments/libsAndStyles :: pageContent }"></script>
<script
	th:attr="data-main=@{ ${csapApp.requiresUrl('/js/deployment/modules/batch-dialog.js')}   }"
	th:src="@{/webjars/requirejs/2.1.20/require.min.js}"></script>


<link
	th:href="@{/js/deployment/services.css}"
	rel="stylesheet"
	type="text/css"
	media="screen" />

<link
	th:href="@{/js/deployment/service-dialog-batch.css}"
	rel="stylesheet"
	type="text/css"
	media="screen" />


<script th:src="@{ ${csapApp.versionedUrl('/js/csapLibs/csap-misc.js')} }"></script>

<script th:replace="csap-constants-include :: includeSection"></script>

<script th:inline="javascript">

var contextUrl = [[@{ ${"/"} }]] ;
var baseUrl = [[@{ ${ T( org.csap.agent.CsapCoreService ).SERVICE_URL}}]] ;


$(document).ready(function () {

	require([ "batch-dialog" ],
		function (batchDialog) {
			batchDialog.batchEventRegistration() ;
			
			CsapCommon.configureCsapAlertify() ;

			
		     $( '#showBatchDialog' ).click( function ( ) {
			     // alertify.notify("Getting clusters") ;
			     $.get( "batchDialog?releasePackage=" + $( '.releasePackage' ).val( ), 
			    		 batchDialog.show, 'html' ) ;
			     	return false ;
		     } ) ;
		}
	);
});
     

</script>

</head>

<body th:inline="text">


	<header th:replace="csap/fragments/page :: header"></header>

	<a
		id="showBatchDialog"
		title="Open batch service deploy dialog"
		class="simple"
		href="#deploy">
		<img
			class="butImage"
			src="images/16x16/user-desktop.png" />
		Batch Admin
	</a>

	<select
		class="releasePackage"
		style="width: 14em">
		<option
			th:each="name : ${packageNames}"
			th:selected="${name == selectedRelease }"
			th:value="${name}"
			th:text="${name}">updated_by_thymeleaf</option>
		<option
			th:value="${T(org.csap.agent.model.Application).ALL_PACKAGES}"
			th:selected="${ T(org.csap.agent.model.Application).ALL_PACKAGES == selectedRelease }">All Projects</option>
	</select>

	<div
		id="batchSelect"
		style="padding: 2em">

		<div id="clusterHostJson">[[${ clusterHostJson }]]</div>

		<div id="clusterServiceJson">[[${ clusterServiceJson }]]</div>


		<section class="batchDialog cluster-selection">
			<div class="title">

				<span>

					<label> Cluster Selection </label>
					<button
						title="Select all services with cluster type kubernetes"
						class="csap-button all-kubernetes-button">All Kubernetes</button>
					<button
						href="#"
						class="csap-button uncheckAll">Clear All</button>
					<button
						href="#checkAll"
						class="csap-button checkAll">Select All</button>

				</span>

				<span>

					<label title="Clean option removes working directory">
						Clean:
						<input
							id="batchCleanCheckbox"
							type="checkbox" />
					</label>
				</span>
			</div>

			<div
				class="cluster-checkboxes"
				style="padding-bottom: 1em">
				<label
					class="csap configLabels"
					th:each="clusterName: ${ clusters }">
					<input
						th:class="${ 'custom batchClusterSelect ' + clusterName.key + ' '  + clustersToType.get( clusterName.key )  }"
						type="checkbox"
						th:value="${ clusterName.key }"
						th:attr="data-name=${clusterName.key}">
					[[ ${ clusterName.key } ]]
				</label>
			</div>
		</section>

		<button class="showFiltersButton csap-button">Show services...</button>

		<section class="batchDialog batchFilter">
			<div class="title">
				Service Filters
				<button class="csap-button uncheckAll">Clear All</button>
				<button class="csap-button checkAll">Select All</button>
			</div>

			<div
				class="serviceCheckboxes"
				style="padding-bottom: 1em">
				<label
					class="csap configLabels"
					th:each="serviceEntry: ${ serviceNames }"
					th:if="${ !serviceEntry.key.equals(T(org.csap.agent.CsapCore).AGENT_NAME) && !serviceEntry.key.equals(T(org.csap.agent.CsapCore).ADMIN_NAME)  }">
					<input
						th:class="${ 'custom serviceCheckbox ' + serviceEntry.value  }"
						type="checkbox"
						th:value="${ serviceEntry.key }"
						name="deployServices">
					[[ ${ serviceEntry.key } ]]
				</label>
			</div>
		</section>

		<section class="batchDialog batchFilter">
			<div class="title">
				Host Filters
				<button class="csap-button uncheckAll">Clear All</button>
				<button class="csap-button checkAll">Select All</button>
			</div>
			<div
				class="hostCheckboxes"
				style="padding-bottom: 1em">


				<label
					class="csap configLabels"
					th:each="hostName : ${ hostNames }">
					<input
						class="custom hostCheckbox"
						type="checkbox"
						th:value="${ hostName }"
						name="deployHosts">
					[[ ${ hostName } ]]
				</label>

			</div>
		</section>


	</div>

	<div
		id="batchResultTemplate"
		style="padding: 2em">

		<section class="batchDialog batchResult">
			<label>Result:</label>
			<div
				id="batchMessage"
				class="noteHighlight">loading</div>
			<label>Total Task Count:</label>
			<div
				id="jobsOperations"
				class="noteHighlight">loading</div>
			<br>
			<label>Job Count:</label>
			<div
				id="jobsCount"
				class="noteHighlight">loading</div>
			<label title="Configured in application definition">Jobs Processed In Parallel:</label>
			<div
				id="batchParallel"
				class="noteHighlight">loading</div>

			<label>
				Logs:
				<button
					id=open-admin-logs
					class="csap-button">csap-admin</button>
			</label>


			<div id="batchProgressBar">
				<div id="batchProgressLabel">Loading...</div>
			</div>

			<div class="hquote">
				Note: CSAP management includes extensive resource monitoring;
				<span>it is strongly recommended project teams examine metrics before and after deployment operations</span>
			</div>
		</section>

		<table
			id="hostJobsTable"
			class="csap">
			<thead>
				<tr>
					<th>Host (Logs)</th>
					<th>Scheduling Information And Service Log Links</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>csap-dev01</td>
					<td>Scheduling services: [ServletSample_8041]</td>
				</tr>
				<tr>
					<td>csap-dev01</td>
					<td>Scheduling services: [ServletSample_8041]</td>
				</tr>
				<tr>
					<td>csap-dev01</td>
					<td>Scheduling services: [ServletSample_8041]</td>
				</tr>
				<tr>
					<td>csap-dev01</td>
					<td>Scheduling services: [ServletSample_8041]</td>
				</tr>
				<tr>
					<td>csap-dev01</td>
					<td>Scheduling services: [ServletSample_8041]</td>
				</tr>
				<tr>
					<td>csap-dev01</td>
					<td>Scheduling services: [ServletSample_8041]</td>
				</tr>
				<tr>
					<td>csap-dev01</td>
					<td>Scheduling services: [ServletSample_8041]</td>
				</tr>
				<tr>
					<td>csap-dev01</td>
					<td>Scheduling services: [ServletSample_8041]</td>
				</tr>
				<tr>
					<td>csap-dev02</td>
					<td>Scheduling services: [ServletSample_8041]</td>
				</tr>
			</tbody>
		</table>


	</div>


	<footer th:replace="csap/fragments/page :: footer"></footer>
</body>

</html>
