<!DOCTYPE html>
<html
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>include page</title>
</head>
<body
	th:fragment="pageContent"
	th:remove="tag">

	<div id="script">

		<form
			id="executeScriptForm"
			action="executeScript"
			method="post">


			<div id="command-header">

				<div>
					<button
						id="executeSubmitButton"
						class="csap-button-icon">
						<img
							style="width: 18px; height: 18px"
							th:src="@{ /images/16x16/run.png }" />
						Run
					</button>
				</div>

				<div>

					<span
						id="hostButtonTarget"
						style=""></span>


					<div title="Click to browse template library">
						<button
							id="show-templates-button"
							class="csap-button-icon"
							style="">

							<img th:src="@{ /images/folder.png }" />
							Library
						</button>

						<label style="float: right; margin-right: 6px;">
							Use Root:
							<input
								class="show-root-warning"
								name="runAsRoot"
								type="checkbox" />
						</label>
					</div>

				</div>

				<div>
					<input
						id="jobIdInput"
						type="hidden"
						name="jobId"
						value="" />

					<input
						id="cancelInput"
						type="hidden"
						name="cancel"
						value="" />

					<!--  
					<label style="margin-left: 3.5em">
						as User:
						<select
							id="executeUserid"
							name="chownUserid">
							<option
								th:each="optionUser : ${osUsers}"
								th:selected="${ optionUser == csapUser }"
								th:value="${ optionUser }"
								th:text="${ optionUser }">will be replaced</option>

						</select>
					</label>
					-->



					<label title="script will be killed if it exceeds specified number of seconds">

						<span>Time Out(s):</span>
						<input
							name="timeoutSeconds"
							style="width: 3em; font-size: 8pt"
							value="300"
							title="Commands will be aborted if not completed in specified interval" />
					</label>

					<div th:replace="/file/ace-settings :: pageContent"></div>

				</div>

				<div>



					<label style="">
						<span>Script Name:</span>
						<input
							id="scriptName"
							name="scriptName"
							th:value="${  userid + '-' + scriptLabel }"
							style="width: 18em; font-size: 8pt" />


					</label>


					<input
						style="display: none"
						th:if="${_csrf != null}"
						th:name="${_csrf.parameterName}"
						th:value="${_csrf.token}" />

					<span
						id="script-source-name"
						th:text="${scriptLabel}"></span>


				</div>

			</div>


			<textarea
				id="scriptText"
				name="contents"
				spellcheck="false">[[ ${ contents } ]]</textarea>

			<pre id="ace-editor">[[${contents}]]</pre>

		</form>



		<div th:replace="~{ os/command-templates :: pageContent }"></div>

	</div>



</body>
</html>
